<!-- app/views/layouts/application.html.erb -->
<!DOCTYPE html>
<html>
  <head>
    <title>Hospital App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= javascript_include_tag "//cdn.jsdelivr.net/npm/chart.js@4.3.0" %>
    <%= javascript_include_tag "chartkick", "Chart.bundle" %>
     
  </head>

  <body >
    <% if current_user %>
      <%= link_to 'Logout', logout_path %>
    <% end %>

    <%= yield %>
  </body>
</html>